<div class="Content">
    <h1>{{Name}}</h1>
    <p id="img"><img style="width: 250px;height: auto;" src="assets\3.jpg" alt="CSCL Globe"></p>
    <p>{{Name}} - одне з найбільших у світі суден-контейнеровозу. 
        Головне судно серії із 5 суден. На момент спуску на воду (у листопаді 2014 року) 
        був найбільшим контейнеровозом.</p>
        <h2>Особливості {{Name}}:</h2>
        <ul>
          <li>Величезний вантажний трюм для перевезення тисяч контейнерів</li>
          <li>Ефективна система спалювання палива для зменшення викидів шкідливих речовин</li>
          <li>Автоматизовані системи управління та навігації</li>
          <li>Забезпечує глобальну морську торгівлю та зв'язок між портами у різних країнах</li>
        </ul>
</div>
