<div class="Content">
    <h1>{{Name}}</h1>
    <p id="img"><img style="width: 250px;height: auto;" src="assets\2.jpg" alt="BMW i5"></p>
    <p>{{Name}} - електромобіль від німецького виробника Bayerische Motoren Werke (BMW). Цей автомобіль належить до лінійки електромобілів BMW i та відомий своїм сучасним дизайном, ефективною електричною системою та передовими технологіями.</p>
    <h2>Особливості {{Name}}:</h2>
    <ul>
        <li>Сучасний дизайн з використанням інноваційних матеріалів</li>
        <li>Інтелектуальна система керування енергією</li>
        <li>Високоякісний і ергономічний салон</li>
        <li>Розумні системи безпеки та допомоги водію</li>
    </ul>
</div>