<div class="Content">
<h1>{{Name}}</h1>
<p id="img"><img style="width: 250px;height: auto;" src="assets\1.jpg" alt="Антонов АН-225 Мрія"></p>
<p>{{Name}} - найбільший в світі транспортний літак, розроблений українським авіаконструктором Олександром Антоновим. Літак був створений у 1988 році для перевезення великогабаритних вантажів та об'єктів. "Мрія" має особливу конструкцію з шістьма двигунами та довжиною понад 84 метри.</p>
  
<h2>Технічні характеристики літака {{Name}}:</h2>
  <ul>
    <li>Розмах крила: {{Wingspan}}</li>
    <li>Довжина: {{Length}}</li>
    <li>Висота: {{Height}}</li>
    <li>Максимальна взлітна маса: {{MaximumTakeoffWeight}}</li>
    <li>Дальність польоту: {{FlightRange}}</li>
    <li>Максимальна швидкість: {{MaximumSpeed}}</li>
</ul>
</div>